

server-app/.env
venv/

server-app/__pycache__
server-app/app/__pycache__
server-app/app/controllers/__pycache__

server-app/app/controllers/rerank.py
app/controllers/generate_embeddings.py
server-app/structure.md

